.header {
    display: flex;
    justify-content: center;

    background-color: black;
    border-bottom: solid 0.8px #292929;

    padding: 11px 0px 11px 0px;

    position: absolute;

    width: 100%;
    left: 0;
    top: 0;
}